# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file
version: 2
updates:
  - package-ecosystem: maven
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    labels:
      - dependencies
    reviewers:
      - reder9

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    labels:
      - dependencies
      - github-actions
    reviewers:
      - reder9
