# Note: additional setup is required, see https://www.jenkins.io/doc/developer/publishing/continuous-delivery/

name: cd
on:
  workflow_dispatch:
  check_run:
    types:
      - completed

permissions:
  contents: read

jobs:
  validate:
    runs-on: ubuntu-latest
    outputs:
      should_release: ${{ steps.verify-ci-status.outputs.status == 'success' && steps.interesting-categories.outputs.interesting == 'true' }}
    steps:
      - name: Verify CI status
        id: verify-ci-status
        uses: jenkins-infra/verify-ci-status-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          output_result: true

      - name: Release Drafter
        uses: release-drafter/release-drafter@v6
        if: steps.verify-ci-status.outputs.status == 'success'
        with:
          name: next
          tag: next
          version: next
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check interesting categories
        id: interesting-categories
        uses: jenkins-infra/interesting-category-action@v1
        if: steps.verify-ci-status.outputs.status == 'success'
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    needs: [validate]
    if: needs.validate.outputs.should_release == 'true'
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Release
        uses: jenkins-infra/jenkins-maven-cd-action@v1
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_TOKEN: ${{ secrets.MAVEN_TOKEN }}
